*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
}

.box{
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 150px; */
    flex: 1 0 150px;
    flex: 0 0 calc(25% - 1rem);
}